.container {
  padding: 10px;
  margin: auto;
  width: fit-content;
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(66, 66, 66, 0.34);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.input {
  border: none;
  width: 300px;
}

.input:focus {
  outline: none;
}

.button {
  font-weight: bold;
  background-color: white;
  border: none;
}

.button:hover {
  color: #61cf55;
}
